<!--<div class="sign-in">
  <h2>Sign In</h2>
  <%= form_for :sessions do |f| %>
    Username: <%= f.text_field "username", required: true %> <br>
    Password: <%= f.password_field "password", required: true %> <br>
    <%= f.submit "Sign In" %>
  <% end %>
</div>-->

<div class="sign-in">
  <h2>Sign In</h2>
  <%= render 'shared/user_form', user: @user, submit_text: 'Sign In', action: session_url %>
  <%= link_to 'Sign Up', new_user_url %>
</div>