<!DOCTYPE html>
<html>
  <head>
    <title>Reposti</title>

    <meta name="description" content="Reposti">
    <meta name="keywords"
      content="Scott, Ha, javascript, js, html, full, stack, ruby, rails, db, react, amazon, s3">
    <meta name="author" content="Scott Ha">

    <meta property="og:title" content="Reposti">
    <meta property="og:type" content="website">
    <meta property="og:description" content="A Tumblr Website Clone">
    <meta name="image" property="og:image" content="app/assets/images/reposti.png" />
    <meta property="og:image:width" content="4058" />
    <meta property="og:image:height" content="2446" />
    <meta property="og:url" content="https://reposti.herokuapp.com/" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <link rel="shortcut icon" href="app/assets/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="app/assets/images/favicon.ico" type="image/x-icon">
  </head>

  <body>
    <!-- <%= flash[:errors] if flash[:errors] %> -->
    <%= yield %>
  </body>
</html>
