<!DOCTYPE html>
<html>
  <head>
    <title>Reposti</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <link rel="shortcut icon" href="app/assets/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="app/assets/images/favicon.ico" type="image/x-icon">
  </head>

  <body>
    <!-- <%= flash[:errors] if flash[:errors] %> -->
    <%= yield %>
  </body>
</html>
